<div class="col-12 col-sm-6 col-lg-4 col-xl-3 my-2">
    <%= link_to dragon_path(dragon), class: "text-decoration-none text-black" do %>

    <div class="border shadow">

      <%= cl_image_tag dragon.image.key, class: 'card-img-top', style: 'height: 250px; object-fit: cover;' %>

      <div class="d-flex flex-column p-3">

        <div class="d-flex flex-column mb-3">
          <h3 class="mb-0">
            <%= dragon.name %>
          </h3>
          <p class="mb-0">
            <i class="fa-solid fa-location-dot text-danger"></i>
            <%= dragon.location %>
          </p>
        </div>

        <div class="d-flex justify-content-between mb-2">
          <h5 class="mb-0">
            <i class="fa-solid fa-person text-primary"></i>
            <%= dragon.seats %> seats
          </h5>
          <h5 class="mb-0">
            <%= dragon.price_per_day %>€ / day
          </h5>
        </div>

      </div>

    </div>

    <% end %>
</div>
