<div class="col-sm my-2">
<%= link_to booking_path(booking), class: "text-decoration-none text-black" do %>
  <div class="border rounded shadow" style="width: auto; height: 100%;">
    <%= image_tag("smaug.webp", class: "card-img-top rounded", style: "height: 300px; object-fit: cover;")%>
    <div class='d-flex m-3 justify-content-between align-items-center'>
      <div>
        <h2 class='display-1 mb-0', style='font-weight:900'><%= booking.dragon.name %></h2>
        <h5 class='mb-0'><%= booking.dragon.location %></h5>
      </div>
      <div>
        <h3><%= booking.duration %> days</h3>
      </div>
    </div>
    <div class="d-flex m-3 justify-content-between align-items-center">
      <div class="d-flex justify-content-start align-items-center">
          <%= booking.start_date %>
          <i class="fa-solid fa-arrow-right mx-2"></i>
          <%= booking.end_date %>
      </div>
    </div>
    <h3 class="m-3">
      <strong>Total: </strong><%= booking.total_price %>€
    </h3>
  </div>
  <% end %>
</div>
