<div class="navbar bg-body-tertiary sticky-top navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to (root_path), class:"navbar-brand" do %>
          <%= image_tag ("dragon-solid.png") %>
        <% end %>
        <% if user_signed_in? %>
          <button class="toggle-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <%= (current_user.image.attached? ? (cl_image_tag current_user.image.key, class:"avatar") : (image_tag ("bilbo.webp"), class:"avatar")) %>
            </div>
          </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

          <div class="offcanvas-header border-bottom">
            <div class="d-flex align-items-center">
              <%= (current_user.image.attached? ? (cl_image_tag current_user.image.key, class:"avatar") : (image_tag ("bilbo.webp"), class:"avatar")) %>
              <span class="ps-3"><%= current_user.username %></span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body d-flex flex-column">
            <div class="d-flex flex-column">

              <ul class="navbar-nav justify-content-end flex-grow-1">

                <li class="nav-item">
                  <%= link_to 'See your Bookings', my_bookings_path, class: "nav-link" %>
                </li>

                <% unless current_user.dragons.count.positive? %>
                  <li class="nav-item">
                    <%= link_to 'Rent your own Dragon', new_dragon_path, class: "nav-link" %>
                  </li>
                <% else %>
                  <h6 class="offcanvas-title mt-3 border-bottom" style="font-weight: bold;" id="offcanvasNavbarLabel">Dragon Owner</h6>
                  <li class="nav-item mt-2">
                    <%= link_to 'See your Dragons', my_dragons_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Manage your Bookings', my_bookings_owner_path, class: "nav-link" %>
                  </li>
                <% end %>

                <hr>

                <div class="align-self-end">
                  <li class="nav-item">
                      <%= link_to 'Log Out', (destroy_user_session_path), data: {turbo_method: :delete}, class:"nav-link" %>
                  </li>
                </div>
              </div>
            </ul>
          </div>
        </div>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class:"nav-link"%>
        <% end %>
      </div>
   </div>
